/* ===============
   【基本默认值】
   --------------- */

html {
  font-size: 62.5%;
  color: #222;
}

body {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #b3d4fc;
  text-shadow: none;
}

button {
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* ---------------
   【基本默认值】
   -- END --
   =============== */


/* ===============
   【常用工具样式】
   一些常用样式的缩写
   --------------- */

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* ---------------
   【常用工具样式】
   -- END --
   =============== */


/* ===============
   【清除浮动】
   --------------- */

.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* ---------------
   【清除浮动】
   -- END --
   =============== */
